# Environment files
*.env
*.secret

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/
env/

# Django
db.sqlite3
media/images
staticfiles/

# Logs and temp files
*.log
*.pid
*.pid.lock
tmp/

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
